body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.row,
.column33,
.column66,
.column {
  box-sizing: border-box;
}

.content {
  margin: auto;
  width: 900px;
  background-color: aliceblue;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 2px 6px 8px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  flex: 25%;
  margin: 15px;
}

.column33 {
  flex: 33%;
  padding: 0 20px;
}

.column66 {
  flex: 66%;
  padding: 0 20px;
}

.column {
  flex: 25%;
  padding: 0 20px;
}

.zoom {
  display: inline;
}

.zoom img{
  transition: width .2s;
  width: 300px;
  cursor: zoom-in;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ label > img {
  transition: width .2s;
  width: 500px;
  cursor: zoom-out;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}


/* MEDIUM */
@media screen and (max-width: 900px) {
  .content {
    width: 100%;
    background-color: orange;
  }

  .card {
    flex: 40%;
  }

  .column {
    flex: 50%;
  }

  .zoom img{
    width: 200px;
  }

  input[type=checkbox]:checked ~ label > img {
    width: 400px;
  }
}

/* SMALL */
@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    background-color: red;
  }

  .row {
    flex-direction: column;
  }

  .zoom img{
    width: 100px;
  }

  input[type=checkbox]:checked ~ label > img {
    width: 300px;
  }

  iframe {
    width: 300px;
    aspect-ratio: 16 / 9;
  }
}

.scroll-container {
  background-color: #d6d6d6;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  display: flex;
  align-items: center;
}

.scroll-container img {
  padding: 10px;
}

.scrollIMG {
  width: 300px;
}

.card:hover {
  box-shadow: 5px 6px 10px 5px rgba(0, 0, 0, 0.2);
}

.card a {
  text-decoration: none;
  color: black;
}

.cardIMG {
  border-radius: 5px;
  width: 94%;
  margin: 3%;
}

.container {
  padding: 0 16px 2px 16px;
}

h4 {
  margin: 0;
}