body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  margin: auto;
  width: 900px;
  background-color: aliceblue;
}

/* MEDIUM */
@media screen and (max-width: 900px) {
  .content {
    width: 80%;
    background-color: orange;
  }

  .column {
    width: 50%;
  }
}

/* SMALL */
@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    background-color: red;
  }

  .column {
    width: 100%;
  }
}



.column33 {
  float: left;
  width: 33%;
}

.column66 {
  float: left;
  width: 33%;
}