body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.row, .column33, .column66, .column {
  box-sizing: border-box;
}

.content {
  margin: auto;
  width: 900px;
  background-color: aliceblue;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column33 {
  flex: 33%;
  padding: 20px;
}

.column66 {
  flex: 66%;
  padding: 20px;
}

.column {
  flex: 25%;
  padding: 20px;
}

/* MEDIUM */
@media screen and (max-width: 900px) {
  .content {
    width: 80%;
    background-color: orange;
  }

  .column {
    flex: 50%;
  }
}

/* SMALL */
@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    background-color: red;
  }

  .row {
    flex-direction: column;
  }
}

.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.scroll-container img {
  padding: 10px;
}